# ignore all logs
*.log

# Ignore Vagrant folder
.vagrant

# Ignore K8s Admin config file
admin.conf

# Ignore kubeadm files
join-command
join-command-master

# Ignore DS_store
.DS_Store

# Intellij products
.idea

# Terraform
.terraform*
terraform.tfstate*
